<!DOCTYPE html>
<html>

<head>
    <title>Record Survey</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Record Survey
    </h1>

    <p>Fill Instructions here</p>

    <!-- Trigger/Open The Modal -->
    <button id="start">Begin Survey</button>

    <!-- The Modal -->
    <div id="infoModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Personal Information</h1>
            <p>Fill Instructions here</p>
            <div id="info" name="info">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
                <br>
                <label for="english_fluency">English fluency:</label>
                <select id="english_fluency" name="english_fluency" required>
                  <option value="1">Acceptable</option>
                  <option value="2">Advanced</option>
                  <option value="3">Proficient</option>
                  <option value="4">Native</option>
                </select>
                <br>
                <label for="english_frequency">How many times per month do you speak in english or read an english text?:</label>
                <select id="english_frequency" name="english_frequency" required>
                  <option value="1">None</option>
                  <option value="2">Once per year</option>
                  <option value="3">Once per month</option>
                  <option value="4">Once per week</option>
                  <option value="5">Multiple times per week</option>
                </select>
                <br>

                <button id="next1">Next 1</button>
            </div>
        </div>

    </div>

    <div id="modal1" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h1>First Task</h1>
            <p>Fill Instructions here</p>
            <div id="controls">
                <button id="recordButton1">Record</button>
                <button id="stopButton1" disabled>Stop</button>
            </div>
            <h3>Recording</h3>
            <ol id="recordingsList1"></ol>

            <button id="next2">Next 2</button>
        </div>

    </div>


    <div id="modal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h1>Second Task</h1>
            <p>Fill Instructions here</p>
            <div id="controls">
                <button id="recordButton2">Record</button>
                <button id="stopButton2" disabled>Stop</button>
            </div>
            <h3>Recording</h3>
            <ol id="recordingsList2"></ol>

            <button id="next3">Next 3</button>
        </div>

    </div>


    <div id="modal3" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h1>Third Task</h1>
            <p>Fill Instructions here</p>
            <div id="controls">
                <button id="recordButton3">Record</button>
                <button id="stopButton3" disabled>Stop</button>
            </div>

            <h3>Recording</h3>
            <ol id="recordingsList3"></ol>

            <button id="finish">finish</button>
        </div>

    </div>

    <script src="javascripts/WebAudioRecorder.js"></script>
    <script src="javascripts/global.js"></script>
</body>

</html>